@media(max-width: 1150px){
  .container{
    width: 1020px;
  }
}

@media(max-width: 1024px){
  .container{
    width: 920px;
  }

  .sobre-web-design figcaption img{
    width: 600px;
  }
}

@media(max-width: 915px){
  body{
    background-position: left top;
    background-color: #b1f4ff;
  }
  .container{
    width: 600px;
  }

  .row{
    flex-direction: column;
  }

  header nav{
    margin: 30px 0;
  }

  .sobre-web-design article{
    width: 100%;
    padding: 30px 0px;
    margin: 30px 0px 30px 0;
  }

  .sobre-web-design article h1{
    font-size: 70px;
    }
    
  .sobre-web-design article h2{
    font-size: 30px;
  }

  .sobre-web-design article p{
    padding: 10px 70px;
  }
  .sobre-web-design figcaption img{
    width: 100%;
    margin: 40px 0;
  }

  footer .row{
  flex-direction: row;
  justify-content: center;
  }

  header nav{
    background: white;
    width: 70%;
    padding: 20px 0 20px 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 665px){
  .container{
    width: 400px;
  }

  header nav ul li{
    margin: 10px 0;
  }

  header nav{
    background: white;
    width: 100%;
    padding: 15px 0 15px 15px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  }

  .sobre-web-design article{
    padding: 40px 20px;
  }

  .sobre-web-design article h1{
    font-size: 62px;
    }
    
    .sobre-web-design article h2{
      font-size: 28px;
    }
    
    .sobre-web-design article p{
      font-size: 17px;
    }
}

@media (max-width: 450px){
  .container{
    width: 290px;
  }

  header nav{
    font-size: 17px;
    line-height: 25px;
    padding: 10px 0 20px;
  }

  .sobre-web-design article{
    padding: 40px 40px;
  }

  header nav ul{
    flex-direction: column;
  }

  header nav ul li{
    margin: 10px 0;
  }

  .sobre-web-design article h1{
    font-size: 55px;
  }
    
  .sobre-web-design article h2{
    font-size: 26px;
  }
    
  .sobre-web-design article p{
    padding: 15px 25px;
  }
  .btn.btn-laranja{
    font-size: 17px;
  }
}